h1= title
p Welcome to #{title}

ul 
  li Resources
    ul
      li http://reactive-extensions.github.io/learnrx/ "Learn Rx"
      li https://www.youtube.com/watch?v=FAZJsxcykPs --- "Async Javascript at Netflix"
      li https://github.com/Reactive-Extensions/RxJS
      li http://twitter.com/brianleathem
      li examples - https://github.com/Reactive-Extensions/RxJS/tree/master/examples




//- interval-based event streams
style.
  div {
    margin-top: 150px;
  }
#input
#output
script(src='javascripts/demo.js')
script(src='javascripts/rx-basic.js')
//- script(src='javascripts/rx-nestedcollections.js')
//- script(src='javascripts/rx-reduction.js')
//- script(src='javascripts/rx-zipping.js')


//- other event streams
//- //- mouse
//- #dragTarget
//- script(src='javascripts/rx-mouseevents.js')
//- 
//- #container.container


//- autocomplete
//- form
//-     #form-group
//-       label Enter Query for Wikipedia: 
//-         input(type="text",id="textInput",placeholder="Enter Query...")
//- br      
//- ul(id="results")
//- script(src='javascripts/rx-autocomplete.js')
